<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comercio</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Lojinho do Tadeu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/listaPedido">Listar Pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/novoPedido">Novo Pedido</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">

        <h4>Itens do Pedido</h4>

        <h5 style="border-bottom: 1px #c5c5c5 solid;">Adicionar Itens</h5>
        <form action="/itemPedido" method="post">
            <div class="form-group row">

                <div class="col-md-4">
                    <label for="prod">Produto</label>
                    <input type="text" class="form-control" name="itp_produto" id="prod" placeholder="Produto">
                </div>
                <div class="col-md-1">
                    <label for="qtd">Quantidade</label>
                    <input type="text" class="form-control" id="qtd" name="itp_quantidade" placeholder="Quantidade">
                </div>
                <div class="col-md-1">
                    <label for="vlrUni">Valor Unitario</label>
                    <input type="text" class="form-control" name="itp_valorunit" id="vlrUni" placeholder="Valor">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="submit" value="<%= teste%>" name="ped_codigo" class="btn btn-primary btn-block">Add Item </button>
                    <a class="btn btn-secondary btn-block" href="/listaPedido">Voltar</a>
                </div>
            </div>
        </form>

        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>valor Unitario</th>
                    <th>Valor Total</th>
                    <th>Codigo Pedido</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (item of itemPedido){%>
                    <tr>
                        <td>
                            <%= item.itp_codigo %>
                        </td>
                        <td>
                            <%= item.itp_produto %>
                        </td>
                        <td>
                            <%= item.itp_quantidade %>
                        </td>
                        <td>
                            <%= item.itp_valorunit %>
                        </td>
                        <td>
                            <%= item.itp_valortotal %>
                        </td>
                        <td>
                            <%= item.ped_codigo %>
                        </td>
                        <td>
                            <a class="btn btn-warning"  href=<%="/item_editar/views/" + item.itp_codigo%>>Alterar</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" value='<%= item.ped_codigo%>' name='ped_codigo' href=<%="/item/excluir/" + item.itp_codigo%>>Deletar</a>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
    <script src="/js/bootstrap.js"></script>
</body>

</html>