<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comercio</title>
    <link rel="stylesheet" href="/css/fontawesome-all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</head>

<body style="overflow: hidden;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Lojinho do Tadeu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listaPedido">Listar Pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/novoPedido">Novo Pedido</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid formulario">
    <h3>Novo Pedido</h3>
    <form action="/pedido_edtar/alterar" method="post">
        <div class="form-group row">
            <div class="col-md-1">      
                <label for="nome">Codigo</label>
                <input type="text" class="form-control" id="nome" minlength="10" name="ped_codigo" value="<%= pedido[0].ped_codigo%>" placeholder="Nome Cliente" readonly>
            </div>
            <div class="col-md-4">      
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" minlength="10" name="ped_nomecliente" value="<%= pedido[0].ped_nomecliente%>" placeholder="Nome Cliente">
            </div>
            <div class="col-md-1">      
                <label for="dtPed">Data</label>
                <input type="text" class="form-control" id="dtPed" name="ped_dtpedido" value="<%= pedido[0].ped_dtpedido%>" placeholder="Data">
            </div>
            <div class="col-md-2">      
                <label for="pgto">Condição de Pgto</label>
                <select class="form-control custom-select" name="ped_condpagto" id="pgto">
                    <option></option>
                    <option value="A VISTA">A Vista</option>
                    <option value="A PRAZO">A Prazo</option>
                </select>
            </div>
            <div class="col-md-2">      
                <label for="status">Status do Pedido</label>
                <select class="form-control custom-select" id="status" name="ped_ativoinativo" placeholder="teste">
                    <option></option>
                    <option value="A">Ativo</option>
                    <option value="B">Inativo</option>
                </select>
            </div>
            <div class="col-md-1">      
                <label for="dtPed">Ordem de pedido</label>
                <input type="number" name="ped_ordem" class="form-control" value="<%= pedido[0].ped_ordem%>" id="dtPed" placeholder="Nome Cliente">
            </div>
        </div>


        <div class="form-group row" style="margin-right: 7.5%;">

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-block">Salvar Pedido </button>
                <a class="btn btn-secondary btn-block"  href="/listaPedido">Voltar</a>
            </div>
        </div>
    </form>
</div>

<script src="/js/bootstrap.js"></script>
<script type="text/javascript">
    if("<%= pedido[0].ped_ativoinativo%>" == "A"){
        document.getElementById('status').value = "A";
    }else{
        document.getElementById('status').value = "B";
    }

    if("<%= pedido[0].ped_condpagto%>" == "A VISTA"){
        document.getElementById('pgto').value = "A VISTA";
    }else{
        document.getElementById('pgto').value = "A PRAZO";
    }
</script>
</body>
</html>